:root {
  --red: #E50914;
  --black: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0px;
}

body {
  background-color: var(--black);
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--red);
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #AAA;
  margin-right: 10px;
}

header nav a:hover {
  color: #FFF;
}

.container {
  margin-left: 20px;
}

/*Banner Movie*/

.banner-movie {
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50) 100%), url('../img/banner-madmen.jpg');
  background-size: cover;
  font-size: 16px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
}
.banner-movie .container {
  width: 70%;
  text-align: justify;
}
.banner-movie--title {
  font-size: 40px;
}
.banner-movie--descripton {
  margin-top: 20px;
}

.button {
  background-color: rgba(0, 0, 0, .50);
  border: none;
  border-radius: 3px;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: .3s ease all;
}
.button:hover {
  background-color: rgba(0, 0, 0, .70);
}
.button i {
  margin-right: 8px;
}

.box-movie {
  margin-top: 10px;
  height: 100%;
  width: 100%;
  display: block;
}